.header {
    padding-top: 15px;
    display: flex;
    justify-content: space-between;

    a {
        font-size: 14px;
        font-weight: 600;
        color: var(--secondary-blue);
        text-decoration: none;

        &:hover {
            text-decoration: underline;
        }
    }

    .menu {
        li {
            display: inline-block;
            margin-left: 20px;
        }
    }
}